<div class="header-lake">
  <div class="left-frog">
    <style>.left-frog button {
      margin-right: 5px;
    }
    </style>
    <button mat-flat-button routerLink="/events" style="color: white; background-color: black">Events</button>
    <button mat-flat-button routerLink="/categories" style="color: white; background-color: black">Categories</button>
  </div>

  <div class="right-frog">
    <button mat-mini-fab routerLink="/">
      <mat-icon class="custom-home-icon">home</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon class="custom-account-icon">account_circle</mat-icon>
    </button>
  </div>
</div>
