.event-card {
  width: 300px;
  margin: 30px 15px 0px 15px;
  cursor: pointer;
}

.event-card-image {
  height: 200px;
  object-fit: contain;
}

.event-card-content {
  height: 100px;
  padding-top: 20px;
  overflow: hidden;
}
