.events-card-container{
  padding: 0px 25px 0px 25px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.events-container{
  display:flex;
  align-items: center;
  flex-direction: column;
}

