<div>
  <form [formGroup]="eventForm" (ngSubmit)="saveEvent()" class="event-form">
    <mat-form-field>
      <mat-label>Event name</mat-label>
      <input matInput formControlName="nameInputFormControl">
    </mat-form-field>
    <mat-form-field>

      <mat-label>Event description</mat-label>
      <textarea matInput formControlName="descriptionInputFormControl"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event location</mat-label>
      <input matInput formControlName="locationInputFormControl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imgUrlInput"/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event start date</mat-label>
      <input matInput [matDatepicker]="startDatepicker" formControlName="startDateInput"/>
      <mat-datepicker #startDatepicker></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="startDatepicker"></mat-datepicker-toggle>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event end date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDateInput"/>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    </mat-form-field>

    <button class="save_button" mat-raised-button type="submit">Save</button>

  </form>
</div>

